<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.twio142.alfred-workflows</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>6EEF71A4-9BB9-4283-A0D2-F3FB70793B62</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D184C2BA-0D1A-4ED2-91AE-A8DE04E2EDB9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76AF516E-396A-4FC5-8ACC-C4A20D5FF6B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2B3F772-8375-474E-A8C0-68722F7B0221</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E5C0F58-4412-42CA-9FD7-D558E00ED913</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D8E79EB-BA86-4AC7-B602-959FBCF539C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>63F5C50B-7888-435F-9B7B-C7E52BC627F5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FBD44F2A-89B4-454F-B5AD-0042D105B375</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C4C9DD2C-ABAD-4B31-91CB-D78ACE6D0660</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E0BD3526-BBB2-463E-BBCA-18CD8BEB1A30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C3DF9BD6-2538-4609-80FA-514315D3579C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6EEF71A4-9BB9-4283-A0D2-F3FB70793B62</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D184C2BA-0D1A-4ED2-91AE-A8DE04E2EDB9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E5C0F58-4412-42CA-9FD7-D558E00ED913</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>D81ED50C-856D-439B-849E-DAFC057C34C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76AF516E-396A-4FC5-8ACC-C4A20D5FF6B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E0BD3526-BBB2-463E-BBCA-18CD8BEB1A30</key>
		<array/>
		<key>ED9D44D7-C54C-44FF-910E-8D8478FBB72A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4EEFE371-738A-43AA-B624-920C34A3FB41</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>twio142</string>
	<key>description</key>
	<string>Search for Alfred workflows by their name, keywords, and so on.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred Workflow Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>6D8E79EB-BA86-4AC7-B602-959FBCF539C2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>[ -f ./Workflows ] || swiftc src/*.swift -o ./Workflows
./Workflows "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>List workflows</string>
				<key>title</key>
				<string>Workflows</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D184C2BA-0D1A-4ED2-91AE-A8DE04E2EDB9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>v=$(osascript -l JavaScript -e "Application('System Events').processes['Alfred'].windows[0].textFields[0].value()")
echo -n $v</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6EEF71A4-9BB9-4283-A0D2-F3FB70793B62</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>44</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>/</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.runningwithcrayons.Alfred</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C3DF9BD6-2538-4609-80FA-514315D3579C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
				<key>sortBy</key>
				<integer>0</integer>
				<key>sortDirection</key>
				<integer>0</integer>
				<key>sortFoldersAtTop</key>
				<false/>
				<key>sortOverride</key>
				<false/>
				<key>stackBrowserView</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>FBD44F2A-89B4-454F-B5AD-0042D105B375</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>finder</string>
						<key>outputlabel</key>
						<string>f</string>
						<key>uid</key>
						<string>63F5C50B-7888-435F-9B7B-C7E52BC627F5</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:mod}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>browse</string>
						<key>outputlabel</key>
						<string>b</string>
						<key>uid</key>
						<string>C4C9DD2C-ABAD-4B31-91CB-D78ACE6D0660</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>8E5C0F58-4412-42CA-9FD7-D558E00ED913</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E0BD3526-BBB2-463E-BBCA-18CD8BEB1A30</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>trigger</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>ED9D44D7-C54C-44FF-910E-8D8478FBB72A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string></string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>4EEFE371-738A-43AA-B624-920C34A3FB41</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>[ -f ./altr ] || { swiftc ./altr.swift || exit 1; }
realpath /usr/local/bin/altr > /dev/null &amp;&amp; {echo -n 'altr already installed!'; exit 0}
osascript &lt;&lt; EOF &gt; /dev/null
activate application "Terminal"
tell application "Terminal" to do script "sudo ln -s '$PWD/altr' /usr/local/bin/"
EOF</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>76AF516E-396A-4FC5-8ACC-C4A20D5FF6B7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>|altr</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Install Command Line Tool 'altr'</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D81ED50C-856D-439B-849E-DAFC057C34C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B2B3F772-8375-474E-A8C0-68722F7B0221</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Alfred Workflow Search

This workflow allows you to search for your installed Alfred workflows by their name, all kinds of keywords and hotkeys.

It's super fast and doesn't rely on cache.

You can search for a specific type of keyword with the type surrounded by square brackets (i.e. `[snippet] query`):

- Keyword
- Snippet
- Action (file action or universal action)
- External
- Hotkey

## Action on results

- Press `↵` to open the workflow / node in Alfred.
- Press `⌘ ↵` to open the workflow directory in Finder.
- Press `⇧ ↵` to browse the workflow directory in Alfred.
- Press `⌃ ↵` to browse the workflow's cache directory in Alfred.
- Press `fn ↵` to browse the workflow's data directory in Alfred.
- On a workflow matched, press `⇥` to list all of its keywords, press ` ⌘ ` to see its version and description, and access the workflow directory in the result’s action menu.
- On an external trigger, press `⌘ C` to copy its `altr` command.
- On a keyword bound to an external script, you can press `→` to browse the workflow's directory in Alfred, and access the script file in the result's action menu.

## `altr` The command line tool

This workflow comes with a command line tool `altr` that allows you to call any Alfred external trigger in your terminal.

Compared to Alfred’s AppleScript solution, it’s simpler, more straightforward, probably faster, and supports passing variables into the trigger.

### Usage

```bash
altr -w &lt;workflow_id&gt; -t &lt;trigger_id&gt; [-a argument] [-v key=value]…

# you can also pass multiple arguments as an array (if your trigger supports it)
# put `-a` after all other parameters, followed by a `-` and then the arguments
altr -w &lt;workflow_id&gt; -t &lt;trigger_id&gt; [-v key=value]… -a - [multiple arguments…]
```</string>
	<key>uidata</key>
	<dict>
		<key>4EEFE371-738A-43AA-B624-920C34A3FB41</key>
		<dict>
			<key>xpos</key>
			<real>155</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>6D8E79EB-BA86-4AC7-B602-959FBCF539C2</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>6EEF71A4-9BB9-4283-A0D2-F3FB70793B62</key>
		<dict>
			<key>xpos</key>
			<real>155</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>76AF516E-396A-4FC5-8ACC-C4A20D5FF6B7</key>
		<dict>
			<key>xpos</key>
			<real>155</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>8E5C0F58-4412-42CA-9FD7-D558E00ED913</key>
		<dict>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>B2B3F772-8375-474E-A8C0-68722F7B0221</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>C3DF9BD6-2538-4609-80FA-514315D3579C</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>D184C2BA-0D1A-4ED2-91AE-A8DE04E2EDB9</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>D81ED50C-856D-439B-849E-DAFC057C34C7</key>
		<dict>
			<key>note</key>
			<string>install altr</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>E0BD3526-BBB2-463E-BBCA-18CD8BEB1A30</key>
		<dict>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>ED9D44D7-C54C-44FF-910E-8D8478FBB72A</key>
		<dict>
			<key>note</key>
			<string>run alfred trigger in command line</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>FBD44F2A-89B4-454F-B5AD-0042D105B375</key>
		<dict>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>w/</string>
				<key>placeholder</key>
				<string>w/</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The keyword of this workflow</string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.3</string>
	<key>webaddress</key>
	<string>https://github.com/twio142/alfred-workflow-search</string>
</dict>
</plist>
